<h5 class="text-danger">BIOGRAPHY</h5>
<h3 class="fst-italic">About Me</h3>
<div class="about">
    <div class="left">

    </div>
    <div class="right">
        <h4>I'm Nirmali</h4>
        <p>Hi! My name is Nirmali . I am Web Developer, and I believe in the <br>
            great power of technology. I can explore the possibility of a new era in <br>
             the field of information technology. I'm always ready for new discoveries. <br>
             I'm interested in both front- end and back-end applications. I try to learn more <br>
             and also want to create more opportunities for this new world.

        </p>
       <table>
        <tr>
            <td>BirthDay</td>
            <td>13.01.2005</td>
        </tr>
        <tr>
            <td>Age</td>
            <td>20</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>Pandatharippu, Jaffna, SriLanka</td>
        </tr>
        <tr>
            <td>Study</td>
            <td> Unicom Tic (Full-Stack Web Development)</td>
        </tr>
        <tr>
            <td>E-Mail</td>
            <td>nirmalichristygmail.com</td>
        </tr>
       </table>
    </div>
</div>
