.left{
    width: 400px;
    height: 400px;
    background-image: url('../../../../public/nirmali1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    border-color: black;
    
    animation: glow-image 1.5s infinite alternate;
}
.right{
    height: 400px;
    width: 700px;
    padding: 20px;
}
.about{
    display: flex;
    padding: 20px;
}

td{
    width: 250px;
    font-style: italic;
    
}
.btn-cv{
    outline-color: aqua;
    border-radius: 10px 10px 10px 10px;
    background-color: black;
    color: aliceblue;
}
@keyframes glow-image {
    0% {
      box-shadow: 0 0 5px #00ffcc;
    }
    50% {
      box-shadow: 0 0 15px #00ffcc;
    }
    100% {
      box-shadow: 0 0 5px #00ffcc;
    }
  }