.profile img{
    opacity: 10px;
}
.home{
    width: 900px;
    height: 400px;
    background-color: black;
    text-align: left;
    padding-top: 100px;
    padding-left: 50px;
 
}

.profile{
    width: 300px;
    height: 400px;
    background-color: aliceblue;
    background-image: url('../../../../public/logo1.jpg');
    background-repeat: no-repeat;
}
