<h3>Education</h3>
<div class="container">
    <div class="left">

    </div>
    <div class="right">
        <div class="educationset"></div>
       <div class="d-block">
        <div class="set">
            <table>
                <tr>
                    <td>2024/04 to 2024/12</td>
                    
                </tr>
                
                <tr>
                   
                    <td>Full-Stack development- Unicom Tic</td>
                    
                </tr>
               
                <tr>
                    <td>Jaffna</td>
                    
                </tr>
               
                   
               </table>
        </div>
        <div class="set">
            <table>
                <tr>
                    <td>2024/02 to 2024/7</td>
                    
                </tr>
                <tr>
                   
                    <td>Diploma In English Language - CB Education</td>
                    
                </tr>
              
                <tr>
                    <td>Manipay</td>
                    
                </tr>
              
                   
               </table>
        </div>
        <div class="set1">
            <table>
                <tr>
                    <td>2023</td>
                </tr>
                
                <tr>
                   
                    <td>G.C.E A/L - J.Pandatharippu Girls High School</td>
                    
                </tr>
                <tr>
                    <td>
                        I.C.T - B <br>
                        Maths - S <br>
                        Physics - S
                    </td>
                    
                </tr>
               </table>
        </div>
        <div class="">
            <table>
                <tr>
                    <td>2020</td>
                </tr>
                
                <tr>
                   
                    <td>G.C.E A/L - J.Pandatharippu Girls High School</td>
                    
                </tr>
                <tr>
                    <td>
                        I.C.T - B<br>
                        Maths - A <br>
                        English - A
                    </td>
                    
                </tr>
               </table>
        </div>
       </div>
    </div>
</div>