<div class="course-container">
  <div>
    <!-- navbar -->
    <div class="navbar ">
      <div class="logo">
        <img
        class="profile-image" src="../../../../public/photo.png"
        alt="Student Image"
      />
       
      </div>
      <h1 class="fs-4">Nirmali Christy Gnenendran</h1>

      
        <ul class="fs-6 lists">
          <li routerLink="/home">Home</li>
          <li routerLink="/about">About</li>
          <li routerLink="/education">Education</li>
          <li routerLink="/skill">skill</li>
          <li routerLink="/contact">Contact</li>
        </ul>
    </div>

    <!-- Main Content -->
    <div class="main-content">
      <header>
        <div class="leftside">

        </div>
      </header>

      <section class="content">
        <router-outlet></router-outlet>
      </section>
    </div>
  </div>
</div>